mat-card {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

mat-card-title {
  color: rgba(0,25,146,0.96)
}

.date-card {
  height: 12%;
  width: 25%;
  margin: 10px;
}

.card-container {
  display: inline-flex;
  width: 99%;
  flex: 1;
  margin: 10px;
}

.card-content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card-content-column {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  margin: 6px;
  max-width: 180px
}

.button-container {
  height: 20vh;
}

.block-button {
  display: block;
  width: 10%;
  height: inherit;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
}
