.sidenav {
  padding: 20px;
  background: rgba(0,18,126,0.9);
  color: white;
}



.nav-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
