table {
  width: 100%;
}

tr.row-detail {
  height: 0;
}

tr.row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.row:not(.expanded-row):active {
  background: #efefef;
}

.highlight-row {
  background: rgba(53,157,210,0.49);
  cursor: pointer;
}

.row td {
  border-bottom-width: 0;
}

.detail {
  overflow: hidden;
  display: flex;
}


.profile-pic {
  min-width: 70px;
  width: 70px;
  border: 1px solid grey;
  border-radius: 70%;
  padding: 16px;
  font-weight: lighter;
  margin: 16px 16px 28px 0;
  height: 100px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/65/Germany_politic_personality_icon.svg');
  background-size: cover;
}

.expanded-details-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.expanded-details-column {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  margin: 6px;
  max-width: 180px
}

.btn-update {
  display: flex;
  margin-left: auto;
}


.button-container {
  margin: 10px;
  padding: 15px;
}
